# Copyright (C) 2026 Nik m (@mazurovn)
# SPDX-License-Identifier: PolyForm-Noncommercial-1.0.0
[Unit]
Description=Mazzy VPN managed connection
Documentation=file:/usr/local/lib/mazzy-vpn/README.md
Wants=network-online.target mazzy-vpn-api-recovery.service
After=network-online.target NetworkManager.service mazzy-vpn-api-recovery.service
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/local/lib/mazzy-vpn/mazzy-vpn _service-run
Restart=on-failure
RestartPreventExitStatus=77
RestartSec=5s
TimeoutStopSec=20s
UMask=0077

[Install]
WantedBy=multi-user.target
